<!DOCTYPE html>
<html>

<body>

    <div class="ui container">

        <h1>Theming Examples</h1>

        <h2 class="ui dividing header">Site</h2>
        <iframe src="components/site.html" width="100%" scrolling="no"></iframe>

        <h2 class="ui dividing header">Menu</h2>
        <iframe src="components/menu.html" width="100%" scrolling="no"></iframe>

        <h2 class="ui dividing header">Buttons</h2>
        <iframe src="components/button.html" width="100%" scrolling="no"></iframe>

        <h2 class="ui dividing header">Table</h2>
        <iframe src="components/table.html" width="100%" scrolling="no"></iframe>

        <h2 class="ui dividing header">Input</h2>
        <iframe src="components/input.html" width="100%" scrolling="no"></iframe>


        <h2 class="ui dividing header">Card</h2>
        <iframe src="components/card.html" width="100%" scrolling="no"></iframe>



    </div>


    <script>
        $('iframe').iFrameResize({
            autoResize: true,
            checkOrigin: false,
            heightCalculationMethod: 'bodyScroll'
        });
    </script>
</body>

</html>